{% load static %}

<head>
    <title>Friends List</title>
    <meta name="description"
        content="TRANSCENDENCE is a gaming platform where you can play reworked games like PONG and PACMAN. Join us and improve your skills by playing against players and grind the top of the ranking">
    <meta name="keywords" content="games, strategy, platform, friend-list, TRANSCENDENCE">
    <meta name="author" content="The fellowship of tranfandenfe">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/pixelated.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <a class="pixel">
        <p>FRIENDS LIST</p>
    </a>
    <nav class="container">
        <div class="pixel2">
            {% if friends %}
            <div class="match-history">
                <div class="scroll-box">
                    {% for f in friends %}
                    <div style="border-bottom: 1px solid white; font-size: xx-large;">
                        {{ f }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            You don't have friends...
            {% endif %}
        </div>
        <div class="pixel2" id="formAddFriend">
            <form method="post">
                <input type="text" id="usernameSearched" placeholder="Search for a friend" style="margin: 25 0 10 0;"
                    required>
                <button class="pixel3" type="submit" value="addFriend" name="formAddFriend">ADD FRIEND</button>
            </form>
        </div>
        <a href="/" class="pixel2" data-link>RETURN</a>
    </nav>
</body>