<!-- pong.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Pong Game</title>
  <meta name="description"
    content="TRANSCENDENCE is a gaming platform where you can play reworked games like PONG and PACMAN. Join us and improve your skills by playing against players and grind the top of the ranking">
  <meta name="keywords" content="games, strategy, platform, game, TRANSCENDENCE">
  <meta name="author" content="The fellowship of tranfandenfe">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/pixelated.css">
  <link rel="stylesheet" href="/static/css/pong.css">
  <script type="module" src="{% static 'js/index.js' %}"></script>
</head>

<body>
  <!-- <h1>Pong Game</h1> -->
  <a class="pixel">
    <p>PONG THE GAME</p>
  </a>
  <nav class="container" style="margin-top: 0%; margin-bottom: 0%;">

    <div id="FormGamePong" class="pixel2">
      <form method="post" id="formStartPong">
        <p>Foe's name (if not precise, play against IA)</p>
        <input type="text" id="foe_name" style="margin-bottom: 7%;">
        <p id="player_name" hidden>{{player}}</p>
        <button class="pixel3" type="submit" value="startPong" name="formStartPong">Start Game</button>
      </form>
    </div>

    <div id="Pong-container-Canvas" style="display: none;">
      <canvas id="pongCanvas"></canvas>
      <script src="{% static 'js/pong.js' %}"></script>
    </div>

    <div id="gameOverModal" class="pixel2" style="display: none; position: fixed; z-index: 1; top: 25%;">
      <h2 id="gameOverTitle">Game Over!</h2>
      <p id="player1ScoreText">{{player}} score : </p>
      <p id="player2ScoreText">Player 2 score : </p>
      <a href="/" class="pixel3" data-link>GO BACK TO MENU</a>
    </div>

    <a href="/" class="pixel2" data-link>RETURN</a>
  </nav>
</body>

</html>